main {
  &:has(.modal)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: hsla(var(--clr-primary-500), 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in;
  }
  &:has(.modal.open)::before {
    opacity: 1;
    visibility: visible
  }
  &:has(.modal.closing)::before {
    opacity: 0;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: min(95%, 500px);
  max-height: 90%;
  padding: 0.5rem;
  overflow-y: auto;
  z-index: 100;
  background-color: hsl(var(--bg-primary-400));
  border-radius: 0.5rem;
  visibility: hidden;
  transform-origin: center;
  --translate: translate(-50%, -50%);
  --scaleY: scaleY(0);
  transform: var(--translate) var(--scaleY);
  transition: transform 0.5s cubic-bezier(0.78, 0, 0.22, 1);
  &.open {
    visibility: visible;
    --scaleY: scaleY(1);
  }
  &.closing {
    --scaleY: scaleY(0);
  }
}
.modal-controls {
  display: flex;
  justify-content: end;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  button {
    color: hsl(var(--clr-secondary-500));
  }
  .back-btn {
    display: none;
    svg {
      width: 1rem;
      height: 2rem;
    }
  }
}
.modal-content{
  & > *:not(:last-child) {
    display: none;
  }
}
.modal:has(.modal-content > :nth-child(2)) .back-btn {
  display: block;
}