.project-modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  h2 {
    font-size: var(--fs-450);
    line-height: 1.5rem;
    &:empty::after {
      content: '*';
      color: hsl(var(--clr-prio-high));
      font-size: 0.8rem;
    }
  }
  
  .button-panel {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    button {
      border-radius: 0.5rem;
      border: 1px solid hsl(var(--clr-primary-500));
      font-size: var(--fs-400);
      transition: all 0.3s;
      padding: 0.25rem 1rem;
    }
    .save-btn {
      margin-left: 0;
      &:disabled {
        color: hsl(var(--clr-secondary-500) / 0.5);
        background-color: hsl(var(--bg-primary-400));
        border-color: hsl(var(--clr-secondary-500) / 0.5);
      }
    }
    .delete-btn {
      display: none;
      padding: 0 0.3rem;
      color: hsl(var(--clr-prio-high));
      border-color: hsl(var(--clr-prio-high));
      svg {
        width: 28px;
        height: 28px;
      }
    }
    .add-task--btn {
      border: none;
      padding: 0;
      margin-right: auto;
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}