.task-modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    font-size: var(--fs-450);
    line-height: 1.5rem;
    &:empty::after {
      content: '*';
      color: hsl(var(--clr-prio-high));
      font-size: 0.8rem;
    }
  }

  .text-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .input-panel {
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(var(--bg-primary-500));
    border-radius: 0.5rem;

    .input-panel--buttons {
      display: flex;
      justify-content: space-evenly;
      background-color: hsl(var(--bg-primary-500));

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        padding: 0.25rem 0.5rem;
        color: hsl(var(--clr-secondary-500));
        
        &[aria-expanded='true'] {
          background-color: hsl(var(--bg-primary-400));
        }

        svg {
          width: 20px;
          height: 20px;
        }

        &.input-filled {
          color: inherit;
        }

        &[aria-controls='task-priority-input'] {
          &[data-priority='low'] {
            color: hsl(var(--clr-prio-low));
          }
          &[data-priority='medium'] {
            color: hsl(var(--clr-prio-medium));
          }
          &[data-priority='high'] {
            color: hsl(var(--clr-prio-high));
          }
        }
      }
    }

    .input-panel--inputs {
      display: none;
      min-height: 60px;
      align-items: center;
      padding-inline: 0.5rem;
      
      &:not([hidden]) {
        display: flex;
      }

      input[type="date"] {
        padding: 0.25rem 0.5rem;
        margin-left: 0.5rem;
        color: hsl(var(--clr-secondary-500));
        background-color: inherit;
        border : none;
        border: 1px solid hsl(var(--clr-secondary-500) / 0.5);
        border-radius: 0.5rem;

        &.input-filled {
          color: inherit;
        }
      }

      .select-field {
        width: 100%;
        justify-content: center;
        gap: 1rem;

        &:not([hidden]) {
          display: flex;
        }

        &.project-select {
          flex-direction: column;
          gap: 0.5rem;
          margin-block: 0.5rem;

          button {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .bottom-panel {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
    padding-block: 0.5rem;
    background-color: hsla(var(--bg-primary-400), 0.8);
    backdrop-filter: blur(6px);
    button {
      border-radius: 0.5rem;
      border: 1px solid hsl(var(--clr-primary-500));
      font-size: var(--fs-400);
      transition: all 0.3s;
      padding: 0.25rem 1rem;
    }
    .save-btn {
      margin-left: 0;
      color: hsl(var(--bg-primary-500));
      background-color: hsl(var(--clr-primary-500));
      &:disabled {
        color: hsl(var(--clr-secondary-500) / 0.5);
        background-color: hsl(var(--bg-primary-400));
        border-color: hsl(var(--clr-secondary-500) / 0.5);
      }
    }
    .delete-btn {
      padding: 0 0.3rem;
      color: hsl(var(--clr-prio-high));
      border-color: hsl(var(--clr-prio-high));
      svg {
        width: 28px;
        height: 28px;
      }
    }
    .task-checkbox {
      height: 24px;
      width: 24px;
      margin-right: auto;
      outline-offset: -1px;
      accent-color: hsl(var(--clr-primary-500));
      cursor: pointer;
    }
  }

  &.new-task {
    .bottom-panel {
      .delete-btn {
        display: none;
      }
    }
  }
}