main {
  position: relative;
  grid-row: 1;
  padding-inline: 0.5rem;
  overflow-x: hidden;
}

main header {
  margin-bottom: 1rem;
}

@media screen and (min-width: 900px) {
  main {
    grid-column: 2;
  }
}