.page-today {
  height: 100%;
  position: relative;
}
.page-today h1 {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  text-align: center;
}
.add-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}