button {
  border: none;
}
button svg {
  width: 2.5rem;
  height: 2.5rem;
}
.add-btn {
  padding: 0.5rem;
  color: hsl(var(--bg-primary-500));
  background-color: hsl(var(--clr-primary-500));
  border-radius: 1rem;
  z-index: 10;
}
.close-btn {
  color: hsl(var(--clr-prio-low));
}