.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  overflow: auto;
}
.project-card {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0.5rem;
  border: 1px solid hsl(var(--bg-primary-500));
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.project-card.no-tasks .project-progress {
  display: none;
}
.project-card:has(.project-completed) {
  opacity: 0.5;
}
.project-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}