/* ====================|| TASK LISTS CONTAINER ||==================== */
.task-lists-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  h2 {
    padding-left: 4px;
    font-size: var(--fs-400);
    color: hsl(var(--clr-secondary-500));
    background-color: hsl(var(--bg-primary-500));
    font-weight: var(--fw-bold);
    border-radius: 6px;

    + .task-list {
      margin-top: 0.25rem;
    }
  }
}

/* ====================|| TASK LIST ||==================== */
.task-list {
  --task-clr: transparent;
  --item-height: 1.8rem;
  position: relative;
  display: grid;
  row-gap: 0.25rem;
  list-style: none;
  padding: 0;
  [data-priority='high'] {
    --task-clr: hsl(var(--clr-prio-high));
  }
  [data-priority='medium'] {
    --task-clr: hsl(var(--clr-prio-medium));
  }
  [data-priority='low'] {
    --task-clr: hsl(var(--clr-prio-low));
  }
}
.task-list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  height: var(--item-height);
  width: 100%;
  padding-left: 0.1rem;
  border-left: 4px solid var(--task-clr);
  border-radius: 6px;
}
.task-list .task-completed {
  color: hsl(var(--clr-secondary-500));
  text-decoration: line-through;
  border-color: transparent;
}
.task-list li>input {
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  accent-color: hsl(var(--clr-primary-500));
  cursor: pointer;
}
.task-list .li-task-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}